<div class="container">

    <div class="row">

        <div class="col-md-12">

            <div class="title-section">

                <h2>
                    Update Metal Rate
                </h2>

            </div>

        </div>

        <div class="category-card">

            <form [formGroup]="metalRateForm" (ngSubmit)="onSubmit()">

                <div class="form-layout">

                    <div class="left-section">
                        <div class="row">
                            <div class="col-4">
                                <!-- Metal Type -->
                                <div class="form-group">
                                    <label for="">Metal Type</label>
                                    <select class="form-control" formControlName="metalType"
                                        (change)="onMetalTypeChange()">

                                        <option value="">
                                            Select Metal
                                        </option>

                                        <option value="gold">
                                            Gold
                                        </option>

                                        <option value="silver">
                                            Silver
                                        </option>

                                        <option value="platinum">
                                            Platinum
                                        </option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Purity -->
                                <div class="form-group">
                                    <label for="">Metal Purity</label>
                                    <select class="form-control" formControlName="purity">

                                        <option value="">
                                            Select Purity
                                        </option>

                                        <option *ngFor="let purity of purityOptions" [value]="purity">

                                            {{ purity }}

                                        </option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Unit -->

                                <div class="form-group">

                                    <label>
                                        Unit
                                    </label>

                                    <select class="form-control" formControlName="unit">
                                        <option value="">
                                            Please Select Unit
                                        </option>
                                        <option value="gram">
                                            Gram
                                        </option>
                                        <option value="gram">
                                            Caret
                                        </option>
                                        <option value="gram">
                                            Bar
                                        </option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Rate Per Gram -->

                                <div class="form-group">

                                    <label>
                                        Rate Per Gram
                                    </label>

                                    <input type="number" formControlName="ratePerGram"
                                        placeholder="Enter Rate Per Gram">

                                </div>
                            </div>
                            <div class="col-4">
                                <!-- Effective Date -->

                                <div class="form-group">

                                    <label>
                                        Effective Date
                                    </label>

                                    <input type="date" formControlName="effectiveDate">

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" class="btn-create">
                        Update
                    </button>
                    <button type="button" class="btn-back" (click)="goBack()">
                        Back
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>