.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: var(--red-color);
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: auto;
}

.logo_card {
  display: flex;
  background-color: #fff;
  color: var(--red-color);
  align-items: center;
  gap: 10px;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.logo_card img {
  width: 80px;
  height: 60px;
}

.logo_card span {
  font-size: 14px;
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, .08);
  transition: .3s;
}

.sidebar li:hover {
  background: var(--lyt-yellow-color);
}

.sidebar li.active {
  background: var(--lyt-yellow-color);
}

.sidebar li i {
  width: 20px;
}

.main {
  flex: 1;
  margin-left: 250px;
}

.navbar {
  height: 75px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn {
  border: none;
  background: #f5f5f5;
  padding: 10px 14px;
  border-radius: 10px;
}

.page-info h4 {
  margin: 0;
  color: var(--red-color);
}

.page-info p {
  margin: 0;
  color: #666;
  font-size: 13px;
}

/* SEARCH */
.search-wrapper {
  position: relative;
  width: 620px;
}


/* INPUT */

.search-wrapper input {
  width: 100%;
  height: 44px;

  padding: 0 15px 0 50px;

  border: none;
  outline: none;

  border-radius: 25px;

  background: #f5f5f5;

  font-size: 14px;
}


/* SEARCH ICON */

.search-wrapper>i {
  position: absolute;

  left: 20px;
  top: 50%;

  transform: translateY(-50%);

  color: #888;

  z-index: 2;
}


/* DROPDOWN */

.search-results {

  position: absolute;

  top: calc(100% + 8px);

  left: 0;

  width: 100%;

  max-height: 420px;

  overflow-y: auto;

  background: white;

  border: 1px solid #e5e5e5;

  border-radius: 12px;

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.12);

  z-index: 99999;

  padding: 6px 0;
}


/* ROUTE */

.search-result-item {

  display: flex;

  align-items: center;

  gap: 12px;

  padding: 12px 15px;

  cursor: pointer;

  transition: 0.2s;
}


.search-result-item:hover {

  background: #f5f5f5;

}


/* ICON */

.route-icon {

  width: 34px;
  height: 34px;

  min-width: 34px;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 8px;

  background: #f1f1f1;

  color: #666;
}


/* DETAILS */

.route-details {

  display: flex;

  flex-direction: column;

  overflow: hidden;
}


.route-label {

  font-size: 14px;

  font-weight: 600;

  color: #333;
}


.route-details small {

  font-size: 11px;

  color: #999;

  margin-top: 2px;

  white-space: nowrap;

  overflow: hidden;

  text-overflow: ellipsis;
}


/* NO RESULTS */

.no-results {

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 8px;

  padding: 25px;

  color: #888;

  font-size: 13px;
}

.logout-btn {
  border: none;
  background: var(--red-color);
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
}

.content {
  padding: 20px;
}

/* ============================= */
.nav-right {
  position: relative;
}

.profile-dropdown {

  position: absolute;

  right: 0;

  top: 55px;

  width: 180px;

  background: #fff;

  border-radius: 10px;

  box-shadow: 0 5px 15px rgba(0, 0, 0, .15);

  z-index: 9999;

}

.dropdown-item {

  padding: 12px 15px;

  display: flex;

  align-items: center;

  gap: 10px;

  cursor: pointer;

}

.dropdown-item:hover {

  background: #f5f5f5;

}


/* =====profile====== */
/* .profile-overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.profile-popup{
  width: 380px;
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,.2);
}

.profile-popup h3{
  color: var(--red-color);
  margin-bottom: 20px;
}

.profile-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.close-btn{
  width: 100%;
  padding: 10px;
  background: var(--red-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
} */

.profile-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  backdrop-filter: blur(5px);
}

.profile-popup {
  width: 430px;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  animation: popup .3s ease;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .25);
}

@keyframes popup {

  from {
    transform: scale(.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }

}

.profile-header {

  background: var(--red-color);
  color: #fff;
  padding: 35px 20px 25px;
  text-align: center;

}

.profile-avatar {

  width: 90px;
  height: 90px;
  background: #fff;
  color: var(--red-color);
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin-bottom: 15px;

}

.profile-header h2 {

  margin: 0;
  font-size: 22px;

}

.profile-header p {

  margin-top: 8px;
  opacity: .9;

}

.profile-body {

  padding: 25px;

}

.profile-card {

  display: flex;
  align-items: center;
  gap: 15px;
  background: #fafafa;
  border-radius: 12px;
  padding: 14px;
  margin-bottom: 15px;
  border: 1px solid #eee;

}

.icon-box {

  width: 50px;
  height: 50px;
  border-radius: 12px;
  background: rgba(100, 1, 1, .1);
  color: var(--red-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;

}

.profile-card label {

  color: #777;
  font-size: 13px;

}

.profile-card h5 {

  margin: 4px 0 0;
  color: #222;
  font-size: 16px;

}

.close-btn {

  width: calc(100% - 50px);
  margin: 0 25px 25px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: var(--red-color);
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;

}

.close-btn:hover {

  opacity: .9;

}

.close-icon {

  position: absolute;
  top: 15px;
  right: 15px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, .2);
  color: #fff;
  cursor: pointer;

}

/* Catalog main item */
.menu-left {
  display: flex;
  align-items: center;
  gap: 12px;
}


/* Arrow */
.fa-angle-down {
  transition: transform 0.3s ease;
}


/* Rotate arrow when opened */
.fa-angle-down.rotate {
  transform: rotate(180deg);
}


/* Catalog submenu */
.submenu {
  display: none;
  list-style: none;
  padding-left: 35px;
  margin: 0;
}


/* Show submenu */
.submenu.show {
  display: block;
}


/* Submenu items */
.submenu li {
  padding: 10px 15px;
  cursor: pointer;
}


/* Hover */
.submenu li:hover {
  background: rgba(255, 255, 255, 0.08);
}


/* Active submenu */
.submenu li.active {
  font-weight: 600;
  color: white;
}