<div class="container-fluid">

    <div class="row">

        <div class="col-md-12">

            <div class="title-section">

                <h2>
                    Create Supplier Purchase Item
                </h2>

            </div>

        </div>

    </div>


    <div class="row">

        <div class="category-card">

            <form [formGroup]="supplierPurchaseItemForm" (ngSubmit)="onSubmit()">


                <div class="form-layout">


                    <!-- =====================================================
                         LEFT SECTION
                    ====================================================== -->

                    <div class="left-section">


                        <!-- =================================================
                             SUPPLIER PURCHASE DETAILS
                        ================================================== -->

                        <div class="row">


                            <!-- SUPPLIER PURCHASE -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Supplier Purchase
                                    </label>


                                    <select class="form-control" formControlName="purchase"
                                        (change)="onPurchaseChange()">

                                        <option value="">
                                            Select Supplier Purchase
                                        </option>


                                        <option *ngFor="let purchase of purchases" [value]="purchase._id">

                                            {{ purchase.invoiceNumber }}
                                            -
                                            {{ purchase.supplier?.name }}
                                            -
                                            {{ purchase.invoiceDate | date:'dd-MM-yyyy' }}
                                            -
                                            ₹{{ purchase.totalAmount }}

                                        </option>

                                    </select>

                                </div>

                            </div>


                            <!-- SUPPLIER -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Supplier
                                    </label>


                                    <input type="text" class="form-control" [value]="
                                            selectedPurchase
                                                ?.supplier
                                                ?.name || '-'
                                        " readonly>

                                </div>

                            </div>


                            <!-- INVOICE NUMBER -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Invoice Number
                                    </label>


                                    <input type="text" class="form-control" [value]="
                                            selectedPurchase
                                                ?.invoiceNumber || '-'
                                        " readonly>

                                </div>

                            </div>


                            <!-- SUPPLIER PRODUCT CODE -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Supplier Product Code
                                    </label>


                                    <input type="text" class="form-control" formControlName="supplierProductCode"
                                        placeholder="Enter Supplier Product Code">

                                </div>

                            </div>


                            <!-- BATCH NUMBER -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Batch Number
                                    </label>


                                    <input type="text" class="form-control" formControlName="batchNumber"
                                        placeholder="Enter Batch Number">

                                </div>

                            </div>

                        </div>



                        <!-- =================================================
                             PRODUCT MANAGEMENT
                        ================================================== -->

                        <div class="row mt-3">

                            <div class="col-12">

                                <h2>
                                    Product Management
                                </h2>

                            </div>


                            <!-- =================================================
                                 PRODUCT
                            ================================================== -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Product
                                    </label>


                                    <ng-select class="product-select" [items]="products" bindLabel="name"
                                        bindValue="_id" formControlName="product" placeholder="Search / Select Product"
                                        [searchable]="true" [clearable]="true" [closeOnSelect]="true"
                                        (change)="onProductChange()">


                                        <!-- PRODUCT OPTION -->

                                        <ng-template ng-option-tmp let-item="item">

                                            {{ item.name }}

                                        </ng-template>


                                        <!-- PRODUCT NOT FOUND -->

                                        <ng-template ng-notfound-tmp let-searchTerm="searchTerm">

                                            <div class="product-not-found">

                                                <strong>
                                                    Product not found
                                                </strong>


                                                <div *ngIf="searchTerm">

                                                    "{{ searchTerm }}"
                                                    product available ledu.

                                                </div>


                                                <button type="button" class="btn btn-primary add-product-btn"
                                                    (click)="addNewProduct(searchTerm)">

                                                    + Add Product

                                                </button>

                                            </div>

                                        </ng-template>

                                    </ng-select>

                                </div>

                            </div>



                            <!-- =================================================
                                 PRODUCT VARIANT
                            ================================================== -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Product Variant
                                    </label>


                                    <select class="form-control" formControlName="variantId">

                                        <option value="">
                                            Select Variant
                                        </option>


                                        <option *ngFor="let variant of variants" [value]="variant._id">

                                            {{
                                            variant.name
                                            || variant.variantName
                                            || variant.sku
                                            || variant._id
                                            }}

                                        </option>

                                    </select>

                                </div>

                            </div>



                            <!-- =================================================
                                 QUANTITY
                            ================================================== -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Quantity
                                    </label>


                                    <input type="number" class="form-control" formControlName="quantity" min="1"
                                        placeholder="Enter Quantity">

                                </div>

                            </div>



                            <!-- =================================================
                                 PURCHASE PRICE
                            ================================================== -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Purchase Price
                                    </label>


                                    <input type="number" class="form-control" formControlName="purchasePrice" min="0"
                                        placeholder="Enter Purchase Price">

                                </div>

                            </div>



                            <!-- =================================================
                                 DISCOUNT
                            ================================================== -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Discount
                                    </label>


                                    <input type="number" class="form-control" formControlName="discount" min="0"
                                        placeholder="Enter Discount">

                                </div>

                            </div>



                            <!-- =================================================
                                 TAX
                            ================================================== -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Tax
                                    </label>


                                    <input type="number" class="form-control" formControlName="tax" min="0"
                                        placeholder="Enter Tax">

                                </div>

                            </div>



                            <!-- =================================================
                                 TOTAL AMOUNT
                            ================================================== -->

                            <div class="col-4">

                                <div class="form-group">

                                    <label>
                                        Total Amount
                                    </label>


                                    <input type="number" class="form-control" formControlName="totalAmount" min="0"
                                        readonly>

                                </div>

                            </div>



                            <!-- =================================================
                                 ADD VARIANT BUTTON
                            ================================================== -->

                            <div class="col-12">

                                <div class="product-actions">
                                    <button type="button" class="add-variant-btn" (click)="addProductVariant()">
                                        + Add Product Variant
                                    </button>
                                </div>

                            </div>


                        </div>



                        <!-- =====================================================
                             ADDED PRODUCT VARIANTS
                        ====================================================== -->

                        <div class="row mt-4" *ngIf="supplierPurchaseItems.length > 0">


                            <div class="col-12">

                                <div class="added-products-section" *ngIf="supplierPurchaseItems.length > 0">

                                    <h3>Added Products</h3>

                                    <div class="table-responsive">

                                        <table class="added-products-table">

                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Variant</th>
                                                    <th>Quantity</th>
                                                    <th>Purchase Price</th>
                                                    <th>Discount</th>
                                                    <th>Tax</th>
                                                    <th>Total Amount</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>

                                            <tbody>

                                                <tr *ngFor="let item of supplierPurchaseItems; let i = index">

                                                    <td class="product-name">
                                                        {{ item.productName }}
                                                    </td>

                                                    <td class="variant-name">
                                                        {{ item.variantName }}
                                                    </td>

                                                    <td class="quantity-cell">
                                                        {{ item.quantity }}
                                                    </td>

                                                    <td>
                                                        ₹{{ item.purchasePrice }}
                                                    </td>

                                                    <td>
                                                        ₹{{ item.discount }}
                                                    </td>

                                                    <td>
                                                        {{ item.tax }}%
                                                    </td>

                                                    <td class="amount-cell">
                                                        ₹{{ item.totalAmount }}
                                                    </td>

                                                    <td>
                                                        <button type="button" class="remove-variant-btn"
                                                            (click)="removeProductVariant(i)">
                                                            Remove
                                                        </button>
                                                    </td>

                                                </tr>

                                            </tbody>

                                        </table>

                                    </div>

                                </div>

                            </div>

                        </div>



                        <!-- =====================================================
                             NOTES
                        ====================================================== -->

                        <div class="row mt-3">

                            <div class="col-12">

                                <div class="form-group">

                                    <label>
                                        Notes
                                    </label>


                                    <textarea class="form-control" formControlName="notes" rows="3"
                                        placeholder="Enter Notes"></textarea>

                                </div>

                            </div>

                        </div>


                    </div>

                </div>



                <!-- =========================================================
                     BUTTONS
                ========================================================== -->

                <div class="button-group">


                    <button type="submit" class="btn-create" [disabled]="
                            supplierPurchaseItems.length === 0
                        ">

                        Save

                    </button>


                    <button type="button" class="btn-back" (click)="goBack()">

                        Back

                    </button>


                </div>


            </form>

        </div>

    </div>

</div>