<h2 mat-dialog-title>
  Gold Rate Details
</h2>

<div mat-dialog-content>

  <div class="details-grid">

    <p>
      <strong>
        Current Rate:
      </strong>

      {{ data.ratePerGram }}
    </p>

    <p>
      <strong>
        Updated By:
      </strong>

      {{ data.updatedBy?.name }}
    </p>

    <p>
      <strong>
        Created At:
      </strong>

      {{ data.createdAt }}
    </p>

    <p>
      <strong>
        Updated At:
      </strong>

      {{ data.updatedAt }}
    </p>

  </div>

  <!-- History -->
  <div
    *ngIf="
      data.history?.length
    ">

    <h3>
      Rate History
    </h3>

    <div
      *ngFor="
        let item of data.history;
        let i = index
      "
      class="history-box">

      <p>
        <strong>
          Rate {{ i + 1 }}:
        </strong>

        {{ item.rate }}
      </p>

      <p>
        <strong>
          Date:
        </strong>

        {{ item.date }}
      </p>

    </div>

  </div>

</div>


<div mat-dialog-actions class="button-group">

 
</div>