<div class="category-container">

  <!-- Top Row -->
  <div class="top-row">

    <div class="title-section">

      <h2>
        User Management
      </h2>

      <p>
        Total Users:
        {{ totalUsers }}
      </p>

    </div>

  </div>


  <!-- Search -->
  <div class="search-row">

    <mat-form-field
      appearance="outline"
      class="w-100">

      <mat-label>
        Search User
      </mat-label>

      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Enter user name">

    </mat-form-field>

  </div>


  <!-- Table -->
  <div class="table-row">

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      class="mat-elevation-z8">


      <!-- ================= S.NO ================= -->

      <ng-container matColumnDef="sno">

        <th
          mat-header-cell
          *matHeaderCellDef>

          S.No

        </th>

        <td
          mat-cell
          *matCellDef="
            let element;
            let i = index
          ">

          {{ i + 1 }}

        </td>

      </ng-container>


      <!-- ================= NAME ================= -->

      <ng-container matColumnDef="name">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Name

        </th>

        <td
          mat-cell
          *matCellDef="let element">

          {{ element.name }}

        </td>

      </ng-container>


      <!-- ================= PHONE ================= -->

      <ng-container matColumnDef="phone">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Phone

        </th>

        <td
          mat-cell
          *matCellDef="let element">

          {{ element.phone }}

        </td>

      </ng-container>


      <!-- ================= EMAIL ================= -->

      <ng-container matColumnDef="email">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Email

        </th>

        <td
          mat-cell
          *matCellDef="let element">

          {{ element.email }}

        </td>

      </ng-container>


      <!-- ================= VERIFIED ================= -->

      <ng-container matColumnDef="isVerified">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Verified

        </th>

        <td
          mat-cell
          *matCellDef="let element">

          <span
            [class.text-success]="element.isVerified"
            [class.text-danger]="!element.isVerified">

            {{ element.isVerified ? 'Yes' : 'No' }}

          </span>

        </td>

      </ng-container>


      <!-- ================= CREATED DATE ================= -->

      <ng-container matColumnDef="createdAt">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Created At

        </th>

        <td
          mat-cell
          *matCellDef="let element">

          {{ element.createdAt | date:'short' }}

        </td>

      </ng-container>


      <!-- ================= ACTIONS ================= -->

      <ng-container matColumnDef="actions">

        <th
          mat-header-cell
          *matHeaderCellDef>

          Actions

        </th>

        <td
          mat-cell
          *matCellDef="let element">

          <button
            type="button"
            class="btn btn-sm  view-btn"
            (click)="viewUser(element)"
            matTooltip="View User">

            <i class="fa fa-eye me-1"></i>
            View

          </button>

        </td>

      </ng-container>


      <!-- ================= HEADER ================= -->

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns">

      </tr>


      <!-- ================= ROW ================= -->

      <tr
        mat-row
        *matRowDef="
          let row;
          columns: displayedColumns;
        ">

      </tr>


      <!-- ================= NO DATA ================= -->

      <tr
        class="mat-row"
        *matNoDataRow>

        <td
          class="mat-cell text-center py-4"
          [attr.colspan]="displayedColumns.length">

          No users found.

        </td>

      </tr>

    </table>


    <!-- PAGINATOR -->

    <mat-paginator
      [pageSizeOptions]="[5,10,20,50]"
      showFirstLastButtons>

    </mat-paginator>

  </div>

</div>